body {
  background-color: #1d0a00;
  font-family: "Times New Roman", Times, serif;
}
.mainScreen {
  background-color: #fdbc1d;
  color: #1d0a00;
  max-width: 476px;
  max-height: 271.5px;
  margin: 100px auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
h1 {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}
.grid-2-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.signal {
  font-size: 50px;
  color: #1d0a00;
}
.battery {
  font-size: 50px;
  text-align: end;
  color: #1d0a00;
}
.dateAndTime {
  font-size: 45px;
}
.button-link {
  color: #fdbc1d;
  background-color: #1d0a00;
  font-size: 40px;
  text-decoration: none;
  text-align: center;
  margin: 10px 0;
  padding: 0;
}
.button-link:hover {
  color: #fdbc1d;
  background-color: #1d0a00a0;
  cursor: pointer;
}

#screen-two {
  display: none;
  overflow-y: auto;
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  max-height: 100%;
}
#screen-two::-webkit-scrollbar {
  width: 8px;
}

#screen-two::-webkit-scrollbar-track {
  background: #fdbc1d;
}

#screen-two::-webkit-scrollbar-thumb {
  background: #1d0a00;
  border-radius: 10px;
}
#home-button {
  display: block;
  margin: 20px auto;
  text-align: center;
  width: 100%;
}
footer {
  font-size: 14px;
  color: rgb(122, 122, 122);
  text-align: center;
  margin: 0 350px;
}
footer a {
  color: #fdbc1d;
  text-decoration: none;
  opacity: 0.6;
}
footer a:hover {
  color: orange;
}
@media (max-width: 768px) {
  .mainScreen {
    max-width: 90%;
  }
  h1 {
    font-size: 40px;
  }
  .dateAndTime {
    font-size: 30px;
  }
  .button-link {
    font-size: 35px;
  }
  footer {
    margin: 0px 30px;
    font-size: 10px;
  }
}
